<div id="social_content">
	<div class="float-left" id="whats-new-avatar">
        <a href="LOGGED_IN_USER_DOMAIN">LOGGED_IN_USER_AVATAR_64_64</a>
    </div>
    <div class="float-left" id="whats-new-container">
        <div id="tabs">
    
            <div id="whats-new-header">
                <ul id="whats-new-header-tablist">
                    <li class="whats-new-header-tab" id="whats-new-header-tab1">Update Status</li>
                    <li class="whats-new-header-tab" id="whats-new-header-tab2">Add Photos/Video</li>
                </ul>
            </div>  
        
            <div id="whats-new-pane1">
                <div id="whats-new-post-pane">
                    <form action="" method="post" id="whats-new-form" name="whats-new-form" role="complementary">
                        <div id="whats-new-content">
                            <div id="whats-new-textarea">
                                <textarea name="post_content" id="whats-new" cols="75" rows="10" placeholder="Spill..."></textarea>
                            </div>
                        </div>
                        <div id="whats-new-footer">
                            <div class="float-right" id="whats-new-submit">
                                <button type="submit" name="post_button" value="post">Post</button>
                            </div>
                            <div class="float-right" id="whats-new-post-in-box">
                                <select id="whats-new-post-in" name="post_privacy">
                                    <option selected="selected" value="0">Public</option>
                                    <option value="1">Friends</option>
                                    <option value="2">Me Only</option>
                                    <option value="3">Custom</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <input type="hidden" name="poster_id" value="LOGGED_IN_USER_ID" />
                            <input type="hidden" id="whats-new-post-object" name="whats-new-post-object" value="groups" />
                            <input type="hidden" id="whats-new-post-in" name="whats-new-post-in" value="stream" />
                        </div><!-- #whats-new-footer -->    
                    </form><!-- #whats-new-form -->
                </div>
            </div>
    
            <div id="whats-new-pane2" style="display: none;">
                <div id="whats-new-upload-pane">
                    <div class="container" id="whats-new-media-upload">
                        <!-- The file upload form used as target for the file upload widget -->
                        <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                            <noscript>Uploading Files Requires JavaScript.</noscript>
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="row fileupload-buttonbar" style="margin-top:15px;">
                                <div class="col-lg-7">
                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add files...</span>
                                        <input type="file" name="files[]" multiple>
                                    </span>
                                    <button type="submit" class="btn btn-primary start">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="reset" class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                    <button type="button" class="btn btn-danger delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                    <input type="checkbox" class="toggle">
                                    <!-- The loading indicator is shown during file processing -->
                                    <span class="fileupload-loading"></span>
                                </div>
                                <!-- The global progress information -->
                                <div class="col-lg-5 fileupload-progress fade" style="height:20px;">
                                    <!-- The global progress bar -->
                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                    </div>
                                    <!-- The extended global progress information -->
                                    <div class="progress-extended">&nbsp;</div>
                                </div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                        </form>
                        <br>
                    </div>
                    <!-- The blueimp Gallery widget -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
            
            <div id="whats-new-pane3" style="display: none;">
                <div id="whats-new-mymedia-pane">
                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="clear"></div>
    JQUERY_UPLOAD_X
    JQUERY_DOWNLOAD_X
    <!-- The tabbing plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.tabbing.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="CORE_BACK_LIB_JS_URL/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="CORE_BACK_LIB_JS_URL/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="CORE_BACK_LIB_JS_URL/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="CORE_BACK_LIB_JS_URL/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="CORE_BACK_LIB_JS_URL/main.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="CORE_BACK_LIB_JS_URL/jquery.xdr-transport.js"></script>
    <![endif]-->
    RESPONSE_ARRAY_MESSAGE
    ACTIVITY_STREAM
</div>
<script type="text/javascript" src="SOCIAL_STREAM_SCRIPTS"></script>