        <!-- Bootstrap styles -->
        <link rel="stylesheet" href="CORE_BACK_CSS_URL/bootstrap.min.css">
        <!-- Generic page styles -->
        <link rel="stylesheet" href="CORE_BACK_CSS_URL/blueimp-gallery.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="CORE_BACK_CSS_URL/jquery.fileupload-ui.css">
        <noscript><link rel="stylesheet" href="CORE_BACK_CSS_URL/jquery.fileupload-ui-noscript.css"></noscript>