<ul class="user-toolbox-header-list" id="user_toolbox_header">
                            <li class="user-toolbox-header-li">
                                <a title="Account Settings/Change Password" class="user-toolbox-a" href="SETTINGS_URL">
                                    <img class="user-toolbox-icons" src="ACCOUNT_SETTINGS_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li">
                                <a title="Edit Your Profile" class="user-toolbox-a" href="EDIT_PROFILE_URL">
                                    <img class="user-toolbox-icons" src="EDIT_PROFILE_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li">
                                <a title="Your Whitebook" class="user-toolbox-a" href="WHITEBOOK_URL">
                                    <img class="user-toolbox-icons" src="WHITEBOOK_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li">
                                <a title="Introductions/Friend Requests" class="user-toolbox-a" href="FRIEND_REQUESTS_URL">
                                    <img class="user-toolbox-icons" src="REQUESTS_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li">
                                <a title="Your Inbox" class="user-toolbox-a" href="INBOX_URL">
                                    <img class="user-toolbox-icons" src="INBOX_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li">
                                <a title="Notifications" class="user-toolbox-a" href="NOTIFICATIONS_URL">
                                    <img class="user-toolbox-icons" src="NOTIFICATIONS_ICON_URL">
                                </a>
                            </li>
                            <li class="user-toolbox-header-li" id="expand_toolbox">
                                <img title="Expand Toolbox" class="user-toolbox-icons-half" src="EXPANDER_ICON_URL">
                            </li>
                        </ul>
                        <ul class="user-toolbox-content" id="user_toolbox_content" style="border: thin #CCC solid; display: none;">
                            TOOLBOX_LINKS
                        </ul>