<header class="back-end">
    <div id="navigation" role="navigation">	
        <div id="search-bar" role="search">
            <div id="header-padder" class="back-end">
                
                <div class="header-capsul back-end" id="header-capsul-1">
                    <h1 id="logo" class="back-end" role="banner">
                        <a href="BASE_URL" title="Lurkable.me - Are you Lurkable?">SITENAME</a>
                    </h1>
                </div><!-- #header-capsul-1 -->
                
                <div class="header-capsul back-end" id="header-capsul-2">
                    <form action="BASE_URL" method="post" id="search-form">
                        <input type="text" id="search-terms" name="search-terms" value="REQUEST_SEARCH">
                        <input type="submit" name="search-submit" id="search-submit" style="background: transparent url('CURRENT_THEME_BACK_PNG_URL/mag-glass-black-30.png') no-repeat;">
                    </form><!-- #search-form -->
                </div><!-- #header-capsul-2 -->
                
                <div class="header-capsul back-end" id="header-capsul-3">
                	Who are you looking for?
                </div><!-- #header-capsul-3 -->
                
                <div class="header-capsul back-end" id="header-capsul-4">
                    <div id="user_toolbox_container">
                        USER_TOOLBOX
                    </div>
                </div><!-- #header-capsul-4 -->
                
                <div class="header-capsul back-end" id="header-capsul-clear"></div>
                
            </div><!-- .padder -->
        </div><!-- #search-bar -->
    </div>
</header><!-- #header -->