<div class="activity-stream-item-container" id="activity-stream-item-container-ACTIVITY_ID">
    <div class="activity-stream-item" id="activity-stream-item-ACTIVITY_ID">
        <div class="activity-stream-avatar float-left">
        	<a href="AUTHOR_DOMAIN">ACTIVITY_AVATAR</a>
        </div>
        <div class="activity-stream-content-wrapper float-left">
        	<div class="activity-stream-content-header">
            	<span class="activity-stream-content-author">AUTHOR_DISPLAY_NAME</span><span class="activity-stream-content-author-action">AUTHOR_ACTION</span>
            </div>
        	<div class="activity-stream-content">
            	ACTIVITY_CONTENT
            </div>
            
            <div class="activity-stream-content-footer">
            	<div class="activity-stream-content-actions">
					
            	</div>
				<div class="activity-stream-content-comments">
					
            	</div>
                <div class="activity-stream-content-comment-form">
					<form FORM_ACTION>
                    	<input type="text" class="activity-stream-comment-input-text" />
                    </form>
            	</div>
            </div>
            
        </div>
        <div class="clear"></div>
    </div>
</div>
