	<style>
		.install-input {
			display: block;
			margin-bottom: 15px; }
			
		.install-input-label {
			display: block; }
			
		.install-input-radio {
			margin-left: 15px;
			margin-bottom: 15px; }
			
		.hidden {
			display: none; }
		
	</style>
    <script>
		$(document).ready(function(e) {
            $('#single_db_1').attr('checked', true);
			
			$('#single_db_0').click(function(e) {
                $('#admin_installer').show(0);
				//$('#api_installer').show(0);
				//$('#base_installer').show(0);
				$('#global_installer').hide(0);
            });
			
			$('#single_db_1').click(function(e) {
                $('#admin_installer').hide(0);
				//$('#api_installer').hide(0);
				//$('#base_installer').hide(0);
				$('#global_installer').show(0);
            });
			
        });
	</script>
    <label class="install-input-label" for="single_db">Use a single database? (See the manual if you want to use multiple databases.)</label>
    <input class="install-input-radio" type="radio" name="single_db" id="single_db_1" value="yes">&nbsp;Yes
    <input class="install-input-radio" type="radio" name="single_db" id="single_db_0" value="no">&nbsp;No
    
    <form class="hidden" name="admin_installer" id="admin_installer" method="post" action="#">
    	<h3>Admin Config Info</h3>
        <label class="install-input-label" for="db_user">Database User</label>
        <input class="install-input" type="text" name="db_user">
        <label class="install-input-label" for="db_name">Database Name</label>
        <input class="install-input" type="text" name="db_name">
        <label class="install-input-label" for="db_password">Database Password</label>
        <input class="install-input" type="text" name="db_password">
        <label class="install-input-label" for="db_host">Database Host</label>
        <input class="install-input" type="text" name="db_host">
        <label class="install-input-label" for="table_prefix">Table Prefix (Optional)</label>
        <input class="install-input" type="text" name="table_prefix">
        <input type="hidden" name="step" value="1">
        <input class="install-input" type="submit" name="write_config" value="Continue">
    </form>
    
    <form class="" name="global_installer" id="global_installer" method="post" action="#">
    	<h3>Global Config Info</h3>
        <label class="install-input-label" for="db_user">Database User</label>
        <input class="install-input" type="text" name="db_user">
        <label class="install-input-label" for="db_name">Database Name</label>
        <input class="install-input" type="text" name="db_name">
        <label class="install-input-label" for="db_password">Database Password</label>
        <input class="install-input" type="text" name="db_password">
        <label class="install-input-label" for="db_host">Database Host</label>
        <input class="install-input" type="text" name="db_host">
        <label class="install-input-label" for="table_prefix">Table Prefix (Optional)</label>
        <input class="install-input" type="text" name="table_prefix">
        <input type="hidden" name="step" value="3">
        <input type="hidden" name="global" value="true">
        <input class="install-input" type="submit" name="write_config" value="Continue">
    </form>