	<style>
		.install-input {
			display: block;
			margin-bottom: 15px; }
			
		.install-input-label {
			display: block; }
			
		.install-input-radio {
			margin-left: 15px;
			margin-bottom: 15px; }
			
		.hidden {
			display: none; }
		
	</style>
    
    <form class="" name="site_settings" id="site_settings" method="post" action="#">
    	<h3>SocialFlood Site Settings</h3>
        <label class="install-input-label" for="username">Admin Username</label>
        <input class="install-input" type="text" name="username">
        <label class="install-input-label" for="email">Admin Email</label>
        <input class="install-input" type="text" name="email">
        <label class="install-input-label" for="password">Admin Password</label>
        <input class="install-input" type="text" name="password">
        <input type="hidden" name="step" value="5">
        <input class="install-input" type="submit" name="go_back" value="<< Go Back">
        <input class="install-input" type="submit" name="finish" value="Finish">
    </form>
