	<style>
		.install-input {
			display: block;
			margin-bottom: 15px; }
			
		.install-input-label {
			display: block; }
			
		.install-input-radio {
			margin-left: 15px;
			margin-bottom: 15px; }
			
		.hidden {
			display: none; }
		
	</style>
    
	<form class="" name="api_installer" id="api_installer" method="post" action="#">
    	<h3>API Config Info</h3>
        <label class="install-input-label" for="db_user">Database User</label>
        <input class="install-input" type="text" name="db_user">
        <label class="install-input-label" for="db_name">Database Name</label>
        <input class="install-input" type="text" name="db_name">
        <label class="install-input-label" for="db_password">Database Password</label>
        <input class="install-input" type="text" name="db_password">
        <label class="install-input-label" for="db_host">Database Host</label>
        <input class="install-input" type="text" name="db_host">
        <label class="install-input-label" for="table_prefix">Table Prefix (Optional)</label>
        <input class="install-input" type="text" name="table_prefix">
        <input type="hidden" name="step" value="2">
        <input class="install-input" type="submit" name="go_back" value="<< Go Back">
        <input class="install-input" type="submit" name="write_config" value="Continue">
    </form>