	<style>
		.install-input {
			display: block;
			margin-bottom: 15px; }
			
		.install-input-label {
			display: block; }
			
		.install-input-radio {
			margin-left: 15px;
			margin-bottom: 15px; }
			
		.hidden {
			display: none; }
		
	</style>
    
    <form class="" name="site_settings" id="site_settings" method="post" action="#">
    	<h3>SocialFlood Site Settings</h3>
        <label class="install-input-label" for="sitename">Sitename</label>
        <input class="install-input" type="text" name="sitename">
        <label class="install-input-label" for="tagline">Tagline</label>
        <input class="install-input" type="text" name="tagline">
        <label class="install-input-label" for="site_logo">Site Logo</label>
        <input class="install-input" type="file" name="site_logo">
        <label class="install-input-label" for="favicon">Favicon</label>
        <input class="install-input" type="file" name="favicon">
        <label class="install-input-label" for="search_indexing">Enable Search Indexing?</label>
        <input class="install-input-radio" type="radio" name="search_indexing" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="search_indexing" value="0">&nbsp;No
        <label class="install-input-label" for="user_pages">Enable User Pages?</label>
        <input class="install-input-radio" type="radio" name="user_pages" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="user_pages" value="0">&nbsp;No
        <label class="install-input-label" for="user_groups">Enable User Groups?</label>
        <input class="install-input-radio" type="radio" name="user_groups" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="user_groups" value="0">&nbsp;No
        <label class="install-input-label" for="user_chat">Enable Chat?</label>
        <input class="install-input-radio" type="radio" name="user_chat" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="user_chat" value="0">&nbsp;No
        <label class="install-input-label" for="friendships">Enable Friendships?</label>
        <input class="install-input-radio" type="radio" name="friendships" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="friendships" value="0">&nbsp;No
        <label class="install-input-label" for="following">Enable Following?</label>
        <input class="install-input-radio" type="radio" name="following" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="following" value="0">&nbsp;No
        <label class="install-input-label" for="messaging">Enable Messaging?</label>
        <input class="install-input-radio" type="radio" name="messaging" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="messaging" value="0">&nbsp;No
        <label class="install-input-label" for="birthdays">Enable Friend Birthday Notification?</label>
        <input class="install-input-radio" type="radio" name="birthdays" value="1">&nbsp;Yes
        <input class="install-input-radio" type="radio" name="birthdays" value="0">&nbsp;No
        <input type="hidden" name="step" value="4">
        <input class="install-input" type="submit" name="go_back" value="<< Go Back">
        <input class="install-input" type="submit" name="save_settings" value="Continue">
    </form>
