<div class="user-profile-div" id="user_profile_container">
	<div class="profile-header">
        <div id="profile_cover">
            <img class="profile-cover-photo" src="../../global/views/COVER_PHOTO_URL">
        </div>
        <div class="profile-nav-wrapper">
            <div class="profile-nav-bar">
                    <span class="border-right"></span>
                    <a href="../../global/views/TIMELINE_LINK">Timeline</a>
                    <a href="../../global/views/ABOUT_LINK">About</a>
                    <a href="../../global/views/PHOTOS_LINK">Photos</a>
                    <a href="../../global/views/VIDEOS_LINK">Videos</a>
                    <a href="../../global/views/FRIENDS_LINK">Friends</a>
                    <a href="" onclick="expand_more_list();">More &#9662;</a>
            </div>
        </div>
        <div id="profile_overlay_box">
            <div class="profile-avatar-container float-left">
                PROFILE_AVATAR
            </div>
            <div class="display-name-container float-left">
                <a href="../../global/views/NAMES_LINK"><h2 class="display-name-h2">DISPLAYNAME</h2>
                <h3 class="alternate-display-name-h3">ALT_DISPLAY_NAME</h3></a>
            </div>
            <div class="profile-actions-container float-right">
                PROFILE_ACTIONS
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="profile-content">
    	<div class="profile-left-boxes-column float-left">
        	LEFT_BOXES
        </div>
        <div class="profile-timeline-column float-left">
        	TIMELINE_COLUMN
        </div>
        <div class="clear"></div>
    </div>
</div>