		<!-- Force latest IE rendering engine or ChromeFrame if installed -->
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		REQUIRED_RESOURCE_LINKS
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <!-- CSS adjustments for browsers with JavaScript disabled -->
		<script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script language="javascript" type="text/javascript" src="CORE_SHARED_JS_URL/core.js"></script>
        <script language="javascript" type="text/javascript" src="CURRENT_THEME_SHARED_JS_URL/scripts.js"></script>
        <link rel="stylesheet" type="text/css" href="CURRENT_THEME_SHARED_CSS_URL/style.css">