<form name="fp-loginform" id="fp-loginform" action="LOGIN_URL" method="post">
<table cellspacing="0">
	<tr class="fp-login-row">
        <td><label class="label-pwd-fp" for="fp-user-login">Username</label></td>
        <td><label class="label-pwd-fp" for="fp-user-pass">Password</label></td>
        <td></td>
    </tr>
	<tr class="fp-login-row">
    	<td><input type="text" name="log" id="fp-user-login" class="input" value="" size="20" /></td>
		<td><input type="password" name="pwd" id="fp-user-pass" class="input" value="" size="20" /></td>
        <td><button class="label-pwd-fp" type="submit" name="loginbutton" id="fp-loginbutton">Log In</button></td>
	</tr>
    <tr class="fp-login-row">
    	<td><label class="label-pwd-fp"><input name="rememberme" type="checkbox" id="fp-rememberme" value="forever" />Keep me logged in.</label></td>
        <td><a href="FORGOT_PASSWORD_URL" title="Lost Password">Forgot your password?</a>
        	<input type="hidden" name="redirect_to" value="BASE_URL" />
            <input type="hidden" name="try_login" value="yes" /></td>
        <td></td>
    </tr>
</table>
</form>