<header class="front-page">
    <div id="header-padder" class="front-page">
        <div class="header-capsul front-page" id="header-capsul-1">
            <h1 id="logo" role="banner">
                <a href="BASE_URL" title="Tagline">TAGLINE</a>
            </h1>
        </div><!-- #header-capsul-1 -->
        <div class="header-capsul front-page" id="header-capsul-2">
	        <!-- FRONT_PAGE_SEARCH -->
        </div><!-- #header-capsul-2 -->
        <div class="header-capsul front-page" id="header-capsul-3">
            <!-- SITE_DESCRIPTION -->
        </div><!-- #header-capsul-3 -->
        <div class="header-capsul front-page" id="header-capsul-4">
            FRONT_PAGE_LOGIN
        </div><!-- #header-capsul-4 -->
        <div class="clear"></div>
    </div><!-- .padder -->
</header><!-- #header -->