<!-- BEGIN MAIN -->
<div id="fp-main">
    <div id="content" class="fp-content">
        <div id="signup_container">
            <script type="text/javascript" language="javascript" src="SIGNUP_FORM_SCRIPT"></script>
            <!-- BEGIN FEATURED IMAGE -->
            <div class="float-left" id="front_page_img_container">
                <img src="FRONT_PAGE_IMG_URL">
            </div>
            <!-- END FEATURED IMAGE -->
            
            <!-- BEGIN SIGNUP FORM CONTAINER -->
            <div class="float-right" id="signup_form_container">
            	SIGNUP_FORM
                <div id="responseMessage">RESPONSE_ARRAY_MESSAGE</div>
            </div>
            <div class="clear-both"></div>
            <!-- END SIGNUP FORM CONTAINER -->
        </div>
    </div>
    <div class="clear-both"></div>
</div>
<!-- END MAIN -->
