						<!-- BEGIN REGISTRATION FORM -->
                        <form name="reg_form" id="reg_form" method="post" action="BASE_URL">
                            <div class="reg-title-continer">
                                <h1 class="title">Sign Up</h1>
                                <span class="sub-title">SIGNUP_MESSAGE</span>
                            </div>
                            <table cellspacing="0">
                                <tr>
                                    <td><input type="text" name="fname" id="fname" placeholder="First Name"></td>
                                    <td><input type="text" name="lname" id="lname" placeholder="Last Name"></td>
                                </tr>
                            </table>
                            <table cellspacing="0">
                                <tr>
                                    <td><label class="reg-label" for="username" >This will be your forward slash name. [ <?php echo BASE_URL; ?><red>username</red> ]</label><br>
                                        <input type="text" name="username" id="username" placeholder="Desired Username"><br>
                                        <span id="validateUsername">&nbsp;</span><br><br></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="email" id="email" placeholder="Your Email"><br>
                                    <span id="validateEmail">&nbsp;</span><br><br></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="email2" id="email2" placeholder="Re-enter Email"></td>
                                </tr>
                                <tr>
                                    <td><input type="password" name="password" id="password" placeholder="New Password"></td>
                                </tr>
                            </table>
                                <h2 class="reg_title">Birthday</h2>
                                <script type="text/javascript" language="javascript" src="BDAY_PICKER_JS_URL"></script>
                                <div class="picker" id="picker1">
                                    <span class="label" onclick="bday_popup();">Why do you need my birthday?</span>
                                </div>
                                
                            <table cellspacing="0">
                                <tr>
                                    <td class="leader-td"><input type="radio" name="gender" id="f-gender" value="female"></td>
                                    <td class="follower-td"><label class="reg-label" for="f-gender" id="fgender"><h2 class="reg_title">Female</h2></label></td>
                                    <td class="leader-td"><input type="radio" name="gender" id="m-gender" value="male"></td>
                                    <td class="follower-td"><label class="reg-label" for="m-gender" id="mgender"><h2 class="reg_title">Male</h2></label></td>
                                </tr>
                            </table>
                            <table cellspacing="0">
                                <tr>
                                    <td><button class="label" type="submit" id="registerbutton">Signup</button></td>
                                </tr>
                            </table>
                            <input type="hidden" name="api_token" id="api_token" value="NEW_API_TOKEN">
                            <input type="hidden" name="regsubmit" id="regsubmit" value="true">
                            <input type="hidden" name="ajax" id="ajax" value='no'>
                        </form>
                        <!-- END REGISTRATION FORM -->