/*
Theme Name: SocialFlood Default
Theme URI: http://socialflood.org
Description: Default theme for SocialFlood.
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0px;border:0px;margin:0px;vertical-align:baseline}

body { width:100%; height:100%; padding:0px; margin:0px; font:14px sans-serif }

#wrapper{}



	header.front-page {
		background: #3e61e0; /* Old browsers */
		background: -moz-linear-gradient(top, #3e61e0 0%, #004089 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e61e0), color-stop(100%,#004089)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3e61e0 0%,#004089 100%); /* IE10+ */
		background: linear-gradient(to bottom, #3e61e0 0%,#004089 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e61e0', endColorstr='#004089',GradientType=0 ); /* IE6-9 */
		
		position:fixed;
		top:0px;
		z-index:10000;
		width: 100%;
		height: 82px;
		margin-top: 0px;
		display: table-cell;
   		vertical-align: bottom; }
		
	#header-padder.front-page {
		width: 960px;
		margin: 12px auto 0px auto; }
	
	.header-capsul { }
	
		#header-capsul-1.front-page {
			padding: 20px 0px 0px 0px;
			float: left; }
			
			#logo {
				font-size: 34px;
				line-height: 34px;
				
				color: #FFF;
				font-family: AmericanTypewriter; }
			
				#logo a {
					font-weight: 500;
					color: #FFF;
					text-decoration: none; }
		
		#header-capsul-2.front-page {
			 }
		
		#fp-search-form {
			display: table-cell;
   			vertical-align: bottom; }
			
			#fp-search-terms {
				font-size: 16px; !important
				columns:: 30; !important			
				padding-top: 1px; }
				
			#fp-search-submit {
				width : 30px;
				height :30px;
				border : none;
				color : transparent;
				font-size : 0 }
		
		#header-capsul-3.front-page {
			 }
		
		#header-capsul-4.front-page {
			float: right; }
		
		#fp-user-login {
			padding: 3px 4px;
			margin-bottom: 4px;
			letter-spacing: normal;
			text-indent: 0px;
			line-height: 12px;
			width: 135px; }
			
		#fp-user-pass {
			padding: 3px 4px;
			margin-bottom: 4px;
			letter-spacing: normal;
			text-indent: 0px;
			line-height: 12px;
			width: 135px; }
			
		#fp-rememberme {
			margin: 3px 4px 0px 0px }
		
		.label-pwd-fp {
			cursor: pointer;}
		
		.fp-login-row td {
			font-size: 12px;
			color: #FFF;
			padding-left: 10px; }
			
			.fp-login-row a {
				color: #CCC;
				text-decoration: none; }
				
		#fp-loginbutton { }
	
	header.back-end {
		background: #3e61e0; /* Old browsers */
		background: -moz-linear-gradient(top, #3e61e0 0%, #004089 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e61e0), color-stop(100%,#004089)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3e61e0 0%,#004089 100%); /* IE10+ */
		background: linear-gradient(to bottom, #3e61e0 0%,#004089 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e61e0', endColorstr='#004089',GradientType=0 ); /* IE6-9 */
		
		position: fixed;
		top: 0px;
		z-index: 4900;
		width: 100%;
		height: 40px;
		max-height: 40px;
		margin-top: 0px; }
			
	#header-padder.back-end {
		width: 960px;
		height: 100%;
		margin: 0px auto 0px auto;
		padding: 6px 0px; }
	
		#header-capsul-1.back-end {
			float:left;
			padding: 3px 15px 0px 0px;
			height: 28px;
			max-height: 28px;
			font-family: AmericanTypewriter; }
			
			#logo.back-end {
				font-size: 28px;
				line-height: 28px;
				color: #FFF;
				font-family: AmericanTypewriter; }
			
				#logo a {
					font-weight: 500;
					color: #FFF;
					text-decoration: none; }
		
		#header-capsul-2.back-end {
			float: left;
			padding-top: 1px; }
			
			#header-capsul-2 #search-terms {
				font-size:		13px;
				font-weight:	200;
				width:			200px;
				height:			18px;
				border: solid thin #CCC;
				-moz-border-radius: 3px;
				border-radius:	3px;
				padding:		3px 22px 3px 4px; }
				
			#header-capsul-2 #search-which {
				display: none;
				font-size:13px;
				font-weight: 200;
				width:64px;
				height:25px;
				background-color: transparent;
				border-style: none; }
				
			#header-capsul-2 #search-submit {
				font-size: 0px;
				width:28px;
				height:28px;
				border: 0px;
				border-style: none;
				position: relative;
				right: 29px;
				top: -3px;
				cursor: pointer; }
				
		#header-capsul-3.back-end {
			float:left;
			color: #FFFFFF;
			line-height: 16px;
			padding-top: 13px;
			margin-left: -19px;
			font-size: 16px;
			font-weight: 500;
			font-family: AmericanTypewriter; }
		
		#header-capsul-4.back-end {
			float: right; }
			
				#user_toolbox_container {
					padding: 0px;
					margin-top: 4px;
					height: 100%;
					 }
					 
					#user_toolbox_header {
						height: 100%;
						display: table-cell;
						vertical-align: middle; }
						
						.user-toolbox-header-li {
							text-height:max-size;
							display: table-cell;
							vertical-align: middle;
							text-decoration: none;
							padding-left: 12px; }
							
							.user-toolbox-a {
								color: #FFF; }
								
								.user-toolbox-a:hover {
									color: #E8E9FF;
									text-decoration: none; }
							
						.user-toolbox-icons {
							height: 20px; }
							
							.user-toolbox-icons:hover {
								/* Required for IE 5, 6, 7 */
								/* ...or something to trigger hasLayout, like zoom: 1; */
								height: 20px;
									
								/* Theoretically for IE 8 & 9 (more valid) */	
								/* ...but not required as filter works too */
								/* should come BEFORE filter */
								-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
								
								/* This works in IE 8 & 9 too */
								/* ... but also 5, 6, 7 */
								filter: alpha(opacity=90);
								
								/* Older than Firefox 0.9 */
								-moz-opacity:0.8;
								
								/* Safari 1.x (pre WebKit!) */
								-khtml-opacity: 0.8;
								
								/* Modern!
								/* Firefox 0.9+, Safari 2?, Chrome any?
								/* Opera 9+, IE 9+ */
								opacity: 0.8; }
								
						.user-toolbox-icons-half {
							height: 15px; }
							
							.user-toolbox-icons-half:hover {
								/* Required for IE 5, 6, 7 */
								/* ...or something to trigger hasLayout, like zoom: 1; */
								height: 15px;
								cursor: pointer;
									
								/* Theoretically for IE 8 & 9 (more valid) */	
								/* ...but not required as filter works too */
								/* should come BEFORE filter */
								-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
								
								/* This works in IE 8 & 9 too */
								/* ... but also 5, 6, 7 */
								filter: alpha(opacity=90);
								
								/* Older than Firefox 0.9 */
								-moz-opacity:0.8;
								
								/* Safari 1.x (pre WebKit!) */
								-khtml-opacity: 0.8;
								
								/* Modern!
								/* Firefox 0.9+, Safari 2?, Chrome any?
								/* Opera 9+, IE 9+ */
								opacity: 0.8; }
								
				#user_toolbox_content {
					color: #000;
					 }
		
		#header-capsul-clear.back-end {
			clear:both; }
		 
		#branding { }
			
		.branding-back-end {
			float: left; }
			
		nav.front-page {}
		
		nav.back-end { float: left; }
			
			#nav_bar {}
						
				.menu ul {
					 }
					
					.menu li {}
						
						.current-page-item {  }
						
						.menu li a {}
						
						.menu li a:hover {}
						
						.menu li ul.children {  }
			
			#search {}
			
	#fp-main {
		width: 100%;
		background:#FFF; }
	
	#content, #container { width: 962px; margin: 0px auto;}
	#container { margin-bottom: 29px; }
	#fp-main { margin-top: 80px; }
	#container.front-end { margin-top: 80px; }
	#container.back-end { margin-top: 40px; }
	#container.back-end.profile { margin-top: 12px; }
		.post,.page{}
			.sticky{}
			.title {}		
			.post-content{}
				h1,h2,h3,h4,h5,h6,p,pre,blockquote,address,ul,ol,dt,dd{
					font-weight:400;
					padding:0;
					margin:0 }
					
				h1 {}
				h2 {}
				h3 {}
				h4 {}
				h5, h6, h7 {}
				p {}
				pre {}
				blockquote {}
				address {}
				ul {}
				ol {}
				dt {}
				dd {}
				a img{border:0}
				.gallery-caption{}
				.content img{}
					.sf-caption{background:#ddd}
						.sf-caption img{}
						.sf-caption p.wp-caption-text{}
						.sf-caption.alignleft{}
						.sf-caption.alignright{}
						.sf-caption.aligncenter{}
					a img.alignright {float:right}
					a img.alignnone {}
					a img.alignleft {float:left}
					a img.aligncenter {display:block;margin:0 auto}
	
				.alignleft{float:left}
				.alignright{float:right}
				.aligncenter,div.aligncenter{display:block;margin:0 auto}
				
		#comments{}
			.commentlist{list-style:none}
				.comment{}
					.comment.even{}
					.comment.odd{}
					.comment.depth-1{}
					.comment.bypostauthor{}
					.comment-body{}
						.comment-author{}
							img.avatar{}
							.fn{}
							.says{}
						.comment-meta{}
							.comment-edit-link{}
						.reply{}
			.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}	
			#respond{}
				#commentform{}
					h3#reply-title{}
					.logged-in-as{}
					.comment-form-comment{}
						.comment-form-comment label{}
						#comment{}
					.form-allowed-tags{}
					.form-submit{}
				
	#sidebar{padding:0;margin:0}
		.sidebaritem{}
			.sidebaritem .title{}
			
	#fp-footer { width: 100%; height:100%; border-top:#CCC thin solid; }
	
	#footer{
		position: fixed;
		bottom: 0px;
		clear: both;
		width: 100%;
		height: 30px;
		z-index: 4900;
		
		background: #3e61e0; /* Old browsers */
		background: -moz-linear-gradient(top, #3e61e0 0%, #004089 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e61e0), color-stop(100%,#004089)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3e61e0 0%,#004089 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3e61e0 0%,#004089 100%); /* IE10+ */
		background: linear-gradient(to bottom, #3e61e0 0%,#004089 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e61e0', endColorstr='#004089',GradientType=0 ); /* IE6-9 */ }
		
		#copyright { width: 960px; margin: 0px  auto 0px 232px; padding: 7px 0px 0px 0px; color: #fff; }
			#copyright a { color: #fff; }


/*******************************************************************************************************************/
/*
/* Live Sidebar Style
/*
/*******************************************************************************************************************/	
#live_sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 220px;
	height: 100%;
	z-index: 5000;
		
	background: rgb(206,206,206); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,206,206,1) 1%, rgba(122,122,122,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(206,206,206,1)), color-stop(100%,rgba(122,122,122,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,206,206,1) 1%,rgba(122,122,122,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,206,206,1) 1%,rgba(122,122,122,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,206,206,1) 1%,rgba(122,122,122,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,206,206,1) 1%,rgba(122,122,122,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#7a7a7a',GradientType=0 ); /* IE6-9 */
	
	border-left: #666 thin solid;
	padding: 0px; }
	
	#live_sidebar_top {		
		background-color: transparent;
		
		height: 40px;
		width: 100%;
		padding: 0px; }
	
	#live_sidebar_middle {
		background-color: transparent;
		
		height: auto;
		width: 100%;
		padding: 0px;
		/*border-bottom: #006 1px solid;*/ }
	
	#live_sidebar_bottom {
		background-color: transparent;
		
		position: absolute;
		bottom: 0px;
		height: 30px;
		width: 100%;
		padding: 0px; }
/*******************************************************************************************************************/	
/*******************************************************************************************************************/	



/*******************************************************************************************************************/
/*
/* Super Secret Jedi Ninja Mind Tricks For Pimps Only
/*
/*******************************************************************************************************************/	
.hidden, .accessibly-hidden { visibility: hidden; display: none;}
.float-left { float: left; }
.float-right { float: right; }
.no-float { float: none; }
.inherit-float { float: inherit; }

.clear-left { clear: left; }
.clear-right { clear: right; }
.clear { clear: both; }
.clear-both { clear: both; }

.set-avatar-link {
	color: #03F;
	cursor: pointer; }
	
	.set-avatar-link a {
		text-decoration: none; }
		
	.set-avatar-link:hover {
		color: #333; }
		
.set-avatar-done {
	color: #333; }

.activity-meta a:visited {
	color: #00F; }
	
.like {
	text-decoration: none; }

.unlike {
	text-decoration: none; }

.activity-delete-x {
	position: absolute;
	top: 0px;
	right: 0px; }

red { color: #C30; }

#skinny_sidebar {
	float: left;
	width: 179px;
	list-style: none; }

	.skinny-sidebar-item-header {
		width: auto;
		padding: 3px 0px 3px 0px;
		margin-top: 10px; }
		
		.skinny-sidebar-item-header h4 {
			color: #666;
			font-size: 10px;
			text-transform: uppercase; }
			
	#skinny_sidebar li { list-style: none; }
	
	#skinny-sidebar-item .item-meta { padding-right: 5px; }
	
#wrapper { height: 100%; }

#container { height: 100%; }

#social_content {
	float: left;
	height: 100%;
	border: none;
	padding: 0px;
	margin-left: 12px;
	margin-top: 52px; }

#profile_content {
	width: 960px;
	margin: 0px auto; }
	
	.profile-header {
		max-height: 342px;
		border-bottom: #CCC thin solid;
		border-right: #CCC thin solid;
		border-left: #CCC thin solid; }
	
	.profile-avatar-160-160 {
		width: 160px;
		height: 160px;
		padding: 3px;
		background: #FFF;
		border: solid thin #999;
		border-radius: 3px; }
		
	.profile-nav-wrapper {
		width: 100%;
		border-top: #CCC thin solid; }
		
	.profile-nav-bar {
		height: 40px;
		padding-left: 202px;
		 }
		
		.border-right {
			display: table-cell;
			border-right: #CCC thin solid; }
		
		.profile-nav-bar a {
			position: relative;
			z-index: 100000;
			display: table-cell;
			text-decoration: none;
			vertical-align: middle;
			height: 40px;
			padding: 0px 18px 0px 18px;
			border-right: #CCC thin solid; }
			
		.last-profile-nav-li {  }
			
		#profile_overlay_box {
			alignment-baseline: central;
			width: 948px;
			position: relative;
			bottom: 185px;
			left: 18px; }
			
		.display-name-container {
			margin-top: 70px;
			margin-left: 18px; }
			
			.display-name-h2 {
				color: #FFF;
				text-shadow: 1px 1px #333;
				font-size: 24px; }
				
			.alternate-display-name-h3 {
				color: #FFF;
				text-shadow: 1px 1px #333;
				font-size: 22px; }
			
		.profile-actions-container {
			margin-top: 100px;
			margin-right: 30px; }

#phat_sidebar {
	float: left;
	width: 300px;
	list-style: none;
	margin-left: 12px; }

	#phat_sidebar_item { margin-bottom: 12px; }

	.phat-sidebar-item-header {
		width: auto;
		padding: 0px 0px 3px 0px; }
		
		.phat-sidebar-item-header h4 {
			color: #666;
			font-size: 10px;
			text-transform: uppercase; }

	#phat_sidebar li { list-style: none; }

img.avatar.avatar-.photo {
	width: 25px; height: 25px; }
	
div#profile-header-avatar img.avatar.avatar-.photo {
	width: 150px; height: 150px; }

#profile-header {
	width: 960px;
	height: 480px;
	border-right: #333 solid thin;
	border-bottom: #333 solid thin;
	border-left: #333 solid thin; }

#cover-photo-box {
	width: 960px;
	height: 320px; }
	
.item-avatar.ram {
	float: left; }
	
.item-avatar.wol {
	float: left; }

#logo_bar_ajaxplorer { background: #FFFFFF; margin: 32px 0px 5px 10px }

#ajxp_desktop { margin: 0px 0px 30px 0px; }

h1.entry-title {
	display: none;
	visibility: hidden; }

#whats-new-avatar {
	width: 64px;
	height: 64px; }

#whats-new-container {
	width: 552px;
	margin-left: 12px; 
	border: #CACACA solid thin;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;}

	#whats-new-form {
		width: 552px;
	}
	
		#whats-new-header {
			width: 552px;
			display:table-cell;
			vertical-align:middle;
			height: 30px;
			border-bottom: #CACACA solid thin;
		}
		
			#whats-new-header-tablist {
				text-decoration:none;
				display:inline-block;
				padding: 5px 0px 5px 0px; }
				
				.whats-new-header-tab {
					padding: 5px 10px 5px 10px;
					text-decoration: none;
					display: inline-block;
					cursor: pointer; }
					
					#whats-new-header-tab2 {
						border-left: solid thin #CCC ; }
	
		#whats-new-textarea {
			margin: 0px;
			padding: 2px;
			}
			
			#whats-new {
				outline: none !important;
				resize: none !important;
				border: 0px !important; }
				
			#whats-new:focus {
				outline: none !important; }
				
		#whats-new-footer {
			display:table-cell;
			vertical-align:middle;
			width: 552px;
			margin: 0px;
			padding: 5px;
			border-top: #CACACA solid thin; }
			
			#whats-new-submit {
				padding: 0px;
				margin: 0px; }
			
			#whats-new-post-in-box {
				padding: 0px;
				margin-left: 6px; }

#logged-in-user-avatar {
	float: left;
	width: 45px; }
	
#logged-in-user-profile {
	float: left;
	font-size: 12px;
	width: 127px;
	height: 30px;
	margin: 0px;
	padding: 5px 5px 0px 2px; }


/*******************************************************************************************************************/	
/*******************************************************************************************************************/	


/*******************************************************************************************************************/
/*
/* SIGNUP BUTTON STYLE
/*
/*******************************************************************************************************************/
.signupbutton {
	margin-top:					0px;
	background:					#FC0;
	border-top:					1px solid #FF0;
	border-right:				1px solid #FF0;
	border-bottom:				1px solid #F90;
	border-left:				1px solid #F90;
	border-radius:				4px;
	/*box-shadow:					inset 0 1px 10px 1px #960,
								0px 1px 0 #C90,
								0 6px 0px #FC3,
								0 8px 4px 1px #111111;*/
	color:						#fff;
	font:						bold 20px/1 "helvetica neue",
								helvetica,
								arial,
								sans-serif;
	margin-bottom:				15px;
	padding:					10px 15px 12px 15px;
	text-align:					center;
	text-shadow:				0px -1px 1px #960;
	-webkit-background-clip:	padding-box; }

.signupbutton:hover {
	/*box-shadow: 				inset 0 0px 20px 1px #FC3,
								0px 1px 0 #C96,
								0 6px 0px #C60,
								0 8px 4px 1px #111111;*/
	cursor:						pointer; }

.signupbutton:active {
	/*box-shadow:					inset 0 1px 10px 1px #a5df76,
								0 1px 0 #203213,
								0 2px 0 #223413,
								0 4px 3px 0 #111111;*/
	margin-top:					5px;
    margin-bottom:				10px; }

.signupbutton:disabled {
	-webkit-filter:				grayscale(100%);
	-moz-filter:				grayscale(100%);
	-ms-filter:					grayscale(100%);
	filter:						grayscale(100%); }
/*******************************************************************************************************************/
/*******************************************************************************************************************/



#loginform ul {
	text-align:					left;
    list-style-type:			none;
	list-style-position:		outside;
	margin:						0px;
	padding:					0px;
}
#loginform li{
	padding:					12px; 
	border-bottom:				1px solid #eee;
	position:					relative;
}

#loginform label {
    font-weight:				bold;
    font-size:					90%;
}

#loginform input {
    padding:					5px;
    font-size:					15px;
    text-shadow:				0px 1px 0px #fff;
    outline:					none;
    border-radius:				3px;
    border:						1px solid #ccc;
    transition:					.3s ease-in-out;
}

#loginform input:focus {
    border:						1px solid #fafafa;
    box-shadow:					0px 0px 5px #007eff;
}

#loginform input.valid {
    box-shadow:					0px 0px 5px #56bc00;
}

#loginform input.invalid {
    box-shadow:					0px 0px 5px #ff0000;
}  

#loginform span {
	margin-left:				5px;
}

#loginbutton {
	margin-top:					0px;
	background:					#61bd2b;
	border-top:					1px solid #529d26;
	border-right:				1px solid #2c5615;
	border-bottom:				1px solid #1d390e;
	border-left:				1px solid #2c5615;
	border-radius:				4px;
	box-shadow:					inset 0 1px 10px 1px #8eff4b,
								0px 1px 0 #2c5713,
								0 6px 0px #305e14,
								0 8px 4px 1px #111111;
	color:						#fff;
	font:						bold 20px/1 "helvetica neue",
								helvetica,
								arial,
								sans-serif;
	margin-bottom:				15px;
	padding:					10px 15px 12px 15px;
	text-align:					center;
	text-shadow:				0px -1px 1px #1e2d4d;
	-webkit-background-clip:	padding-box;
	float:						left;
}

#loginbutton:hover {
	box-shadow: 				inset 0 0px 20px 1px #bdff87,
								0px 1px 0 #324d1d,
								0 6px 0px #37531f,
								0 8px 4px 1px #111111;
	cursor:						pointer;
}

#loginbutton:active {
	box-shadow:					inset 0 1px 10px 1px #a5df76,
								0 1px 0 #203213,
								0 2px 0 #223413,
								0 4px 3px 0 #111111;
	margin-top:					5px;
    margin-bottom:				10px;
}

#loginbutton:disabled {
	-webkit-filter:				grayscale(100%);
	-moz-filter:				grayscale(100%);
	-ms-filter:					grayscale(100%);
	filter:						grayscale(100%);
}

#loginform #button-li {
	text-align:					right;
	border-bottom:				none;
}

#loginform .username {
	width:						150px;
}

#loginform .email {
	width:						150px;
}

#login-form-container {
	width:						800px;
	text-align:					left;
}

#loginform {
	text-align:					left;
}




#change_pass_form ul {
	text-align:					left;
    list-style-type:			none;
	list-style-position:		outside;
	margin:						0px;
	padding:					0px;
}
#change_pass_form li{
	padding:					12px; 
	border-bottom:				1px solid #eee;
	position:					relative;
}

#change_pass_form label {
    font-weight:				bold;
    font-size:					90%;
}

#change_pass_form input {
    padding:					5px;
    font-size:					15px;
    text-shadow:				0px 1px 0px #fff;
    outline:					none;
    border-radius:				3px;
    border:						1px solid #ccc;
    transition:					.3s ease-in-out;
}

#change_pass_form input:focus {
    border:						1px solid #fafafa;
    box-shadow:					0px 0px 5px #007eff;
}

#change_pass_form input.valid {
    box-shadow:					0px 0px 5px #56bc00;
}

#change_pass_form input.invalid {
    box-shadow:					0px 0px 5px #ff0000;
}  

#change_pass_form span {
	margin-left:				5px;
}

#changepassbutton {
	margin-top:					0px;
	background:					#61bd2b;
	border-top:					1px solid #529d26;
	border-right:				1px solid #2c5615;
	border-bottom:				1px solid #1d390e;
	border-left:				1px solid #2c5615;
	border-radius:				4px;
	box-shadow:					inset 0 1px 10px 1px #8eff4b,
								0px 1px 0 #2c5713,
								0 6px 0px #305e14,
								0 8px 4px 1px #111111;
	color:						#fff;
	font:						bold 20px/1 "helvetica neue",
								helvetica,
								arial,
								sans-serif;
	margin-bottom:				15px;
	padding:					10px 15px 12px 15px;
	text-align:					center;
	text-shadow:				0px -1px 1px #1e2d4d;
	-webkit-background-clip:	padding-box;
	float:						left;
}

#changepassbutton:hover {
	box-shadow: 				inset 0 0px 20px 1px #bdff87,
								0px 1px 0 #324d1d,
								0 6px 0px #37531f,
								0 8px 4px 1px #111111;
	cursor:						pointer;
}

#changepassbutton:active {
	box-shadow:					inset 0 1px 10px 1px #a5df76,
								0 1px 0 #203213,
								0 2px 0 #223413,
								0 4px 3px 0 #111111;
	margin-top:					5px;
    margin-bottom:				10px;
}

#changepassbutton:disabled {
	-webkit-filter:				grayscale(100%);
	-moz-filter:				grayscale(100%);
	-ms-filter:					grayscale(100%);
	filter:						grayscale(100%);
}

#change_pass_form #button-li {
	text-align:					right;
	border-bottom:				none;
}

#change_pass_form .username {
	width:						150px;
}

#change_pass_form .email {
	width:						150px;
}

#change-pass-container {
	width:						800px;
	text-align:					left;
}

#change_pass_form {
	text-align:					left;
}



/*******************************************************************************************************************/
/*
/* REGISTRATION PAGE
/*
/*******************************************************************************************************************/
#signup_form_container {
	width:						405px;
	text-align:					left;
	margin-top:					35px; }

#signup_form_container h1.title {
	font-size: 					34px;
	font-weight:				500; }

#signup_form_container span.sub-title {
	font-size: 					18px;
	font-weight:				400; }

.reg-title-continer {
	margin-left:				5px;
	margin-bottom:				20px; }

#reg_form {
	text-align:					left;
	margin-bottom: }

#reg_form ul {
	text-align:					left;
    list-style-type:			none;
	list-style-position:		outside;
	margin:						0px;
	padding:					0px; }

#reg_form li{
	padding:					12px; 
	border-bottom:				1px solid #eee;
	position:					relative; }

#reg_form .reg-label {
    font-weight:				bold;
    font-size:					90%; }

#reg_form input {
    padding:					5px;
    font-size:					15px;
    text-shadow:				0px 1px 0px #fff;
    outline:					none;
    border-radius:				3px;
    border:						1px solid #ccc;
    transition:					.3s ease-in-out; }

	#reg_form input:focus {
		border:						1px solid #fafafa;
		box-shadow:					0px 0px 5px #007eff;
	}
	
	#reg_form input.valid {
		box-shadow:					0px 0px 5px #56bc00;
	}
	
	#reg_form input.invalid {
		box-shadow:					0px 0px 5px #ff0000;
	}
	
	#reg_form input#fname {
		font-size:					18px;
		width:						170px;
		padding:					8px 10px;
		margin-right:				12px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#reg_form input#lname {
		font-size:					18px;
		width:						170px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
	
	#reg_form input#email {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
	
	#reg_form input#email2 {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#reg_form input#username {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#reg_form input#password {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#reg_form select {
		font-size: 16px;
		padding: 5px;
		height: 30px;
		margin: 5px 2px 15px 0px; }
	
	#reg_form .reg-label { font-weight:normal; font-size:12px; }

	h2.reg_title { font-size:18px; font-weight:500; margin-bottom: 5px;}

#reg_form span {
	margin-left:				5px;
}

#reg_form td.follower-td { padding: 15px 20px 15px 0px; }

#registerbutton {
	color:						#FFF;
	margin-top:					0px;
	background:					#61bd2b;
	border-top:					1px solid #529d26;
	border-right:				1px solid #2c5615;
	border-bottom:				1px solid #1d390e;
	border-left:				1px solid #2c5615;
	border-radius:				4px;
	font:						bold 20px/1 "helvetica neue",
								helvetica,
								arial,
								sans-serif;
	margin-bottom:				15px;
	padding:					10px 15px 12px 15px;
	text-align:					center;
	text-shadow:				0px -1px 1px #1e2d4d;
	-webkit-background-clip:	padding-box;
	float:						left;
}

#registerbutton:hover {
	cursor:						pointer;
}

#registerbutton:active {
	margin-top:					5px;
    margin-bottom:				10px;
}

#registerbutton:disabled {
	-webkit-filter:				grayscale(100%);
	-moz-filter:				grayscale(100%);
	-ms-filter:					grayscale(100%);
	filter:						grayscale(100%);
}

#reg_form #button-li {
	text-align:					center;
	border-bottom:				none;
}
/*******************************************************************************************************************/
/*******************************************************************************************************************/



/*******************************************************************************************************************/
/*
/* REGISTRATION PAGE
/*
/*******************************************************************************************************************/
#signup_form {
	text-align:					left; }

#signup_form ul {
	text-align:					left;
    list-style-type:			none;
	list-style-position:		outside;
	margin:						0px;
	padding:					0px; }

#signup_form li{
	padding:					12px; 
	border-bottom:				1px solid #eee;
	position:					relative; }

#signup_form label {
    font-weight:				bold;
    font-size:					90%; }

#signup_form input {
    padding:					5px;
    font-size:					15px;
    text-shadow:				0px 1px 0px #fff;
    outline:					none;
    border-radius:				3px;
    border:						1px solid #ccc;
    transition:					.3s ease-in-out; }

	#signup_form input:focus {
		border:						1px solid #fafafa;
		box-shadow:					0px 0px 5px #007eff;
	}
	
	#signup_form input.valid {
		box-shadow:					0px 0px 5px #56bc00;
	}
	
	#signup_form input.invalid {
		box-shadow:					0px 0px 5px #ff0000;
	}
	
	#signup_form input#fname {
		font-size:					18px;
		width:						170px;
		padding:					8px 10px;
		margin-right:				12px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#signup_form input#lname {
		font-size:					18px;
		width:						170px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
	
	#signup_form input#email {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
	
	#signup_form input#email2 {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#signup_form input#username {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#signup_form input#password {
		font-size:					18px;
		width:						375px;
		padding:					8px 10px;
		margin-bottom:				10px;
		border-radius:				5px; }
		
	#signup_form select {
		font-size: 16px;
		padding: 5px;
		height: 30px;
		margin: 5px 2px 15px 0px; }
	
	#signup_form label { font-weight:normal; font-size:12px; }

	h2.reg_title { font-size:18px; font-weight:500; margin-bottom: 5px;}

#signup_form span {
	margin-left:				5px;
}

#signup_form td.follower-td { padding: 15px 20px 15px 0px; }

#signup_form #button-li {
	text-align:					right;
	border-bottom:				none;
}
/*******************************************************************************************************************/
/*******************************************************************************************************************/
.activity-ticker-list {
	width: 100%; }

.activity-ticker-avatar {
	border: #333 thin solid; }

.activity-ticker-item {
	border-bottom: #333 thin solid;
	padding-bottom: 5px; }